<div class= "wines-container">
  <div class= "head">スパークリングワイン</div>
  <div class= "winenavi">
    <div class="spark"><i class="fas fa-2x fa-wine-bottle"></i>  スパークリングワイン</div>
    <div class="white"><i class="fas fa-2x fa-wine-bottle"></i>  白ワイン</div>
    <div class="red"><i class="fas fa-2x fa-wine-bottle"></i>  赤ワイン</div>
    <div class="orange"><i class="fas fa-2x fa-wine-bottle"></i>  オレンジ</div>
    <div class="search"><i class="fas fa-search"></i></div>
  </div>
  <%# <% @wines.each do |wine| %>
  <div class= "wine-container">
  <% @wines.each do |wine| %>
    <%# <div class= "wine">
      <div class="winenames">
        <div class="winename-kana">ドメーヌ タケダ ブラック・クイーン</div>
        <div class="winename">●Domaine Takeda Black Queen
            <!-- <div class="winarynames"> -->
        
        <div class="winaryname">(Takeda Winary)
          <div class="winaryname-kana">タケダワイナリー</div>
        </div>
            <!-- </div> -->
        </div>
      </div>
      <div class="winearea">
        <div class="winecountry">日本</div>
        <div class="winestate">山形</div>
      </div>
      <div class="winegrapes">Black Queen</div>
     
      <div class="comment">深い味わいのブラック・クイーン種ですが樹齢の高い樹が生み出すものは珍しく
        力強い香りと味わいそして成熟した奥行きの味わいを楽しめます。</div>
        <div class="wineprice">¥4440</div> 
    </div> %>
    <%# <% @wines.each do |wine| %>
      <div class= "wine">
      <div class="winenames">
        <div class="winename-kana"><%= wine.winename_kana%></div>
        <div class="winename">
            <%= "●#{wine.winename}".upcase %>
        
        <div class="winaryname">
      <%="(#{wine.winary.winaryname})" %>
          <%# <div class="winaryname-kana">
          <%# <%= wine.winary.winaryname_kana%>
        </div>
            <!-- </div> -->
        </div>
      </div>
      <div class="winearea">
        <div class="winecountry">
        <%= wine.country.name%>
        </div>
        <div class="winestate">
        <%= wine.state.name %>
        </div>
      </div>
      <div class="winegrapes">
      chardonnay
      </div>
     
      <div class="comment">
      <%= wine.comment%>
      </div>
      <div class="wineprice">
        <%= "¥#{wine.salling_price.to_s(:delimited)}"%>
      </div> 
    
  </div>
  <% end %>
</div>
